.card {
    width: 31vw;
    height: 95vh;
    margin-top: 3vw;
    margin-left: 1vw;
    display:inline-flex;
    background-color: blanchedalmond;
}
.card img{
    height: 35vh;
}
 
.card button {
    width: 15vw;

}